ion-content {
  --background: var(--ion-color-light);
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  margin-bottom: 8px;
}

ion-badge {
  margin-left: 8px;
}

ion-segment {
  --background: var(--ion-color-light);
}

ion-searchbar {
  --background: var(--ion-color-light);
}
