ion-content {
  --background: var(--ion-color-light);
}

ion-list {
  background: transparent;
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  margin-bottom: 8px;
}

form {
  padding-top: 16px;
}
