<ion-header>
  <ion-toolbar>
    <ion-title>Editar Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nombre de Usuario</ion-label>
      <ion-input 
        [(ngModel)]="username" 
        type="text" 
        placeholder="Nombre de usuario"
        autocapitalize="off">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">PIN</ion-label>
      <ion-input 
        [(ngModel)]="pin" 
        type="tel" 
        placeholder="Nuevo PIN (dejar vacío para mantener)"
        maxlength="4"
        pattern="[0-9]*">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Rol</ion-label>
      <ion-select [(ngModel)]="role_id" interface="alert">
        <ion-select-option *ngFor="let role of roles" [value]="role.id">
          {{ role.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="save()" color="primary">
      Guardar
    </ion-button>
  </ion-toolbar>
</ion-footer>
